# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.pkg
*.dmg
*.app

# Test binary, built with `go test -c`
*.test

# pakcage directory
package

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# IntelliJ IDEA
.idea

# script file
*.sh

# Build just for me
Makefile

# certificate
*.p12